<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Drive</title>
    <link rel="stylesheet" href="/static/home.css">
  </head>
  <body>
    <div class="app">
      <div class="titlebar">
        <div class="titlebar-content">
          <p class="logo">FileFlow</p>
          <input type="search" class="searchbar" placeholder="Search...">
          <p class="profile">Profile</p>
        </div>
      </div>
      <div class="main-area">
        <div class="sidebar">
          <form id="file-form" action="/api/upload" method="POST" enctype="multipart/form-data">
            <input id="upload-input" type="file" hidden/>
            <button class="upload-button">Upload</button>
          </form>
        </div>
        <div class="file-grid">
        <div class="file-context inactive">
          <button class="download-button">Download</button>
        </div>
      </div>
    </div>
    <script src="/static/home.js"></script>
  </body>
</html>
