<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Drive</title>
    <link rel="stylesheet" href="/static/home.css">
  </head>
  <body>
    <div class="app">
      <div class="titlebar">
        <div class="titlebar-content">
          <p class="logo">Google Drive</p>
          <input type="search" class="searchbar" placeholder="Search...">
          <p class="profile">Profile</p>
        </div>
      </div>
      <div class="main-area">
        <div class="sidebar">
          <button class="upload-button">Upload</button>
          <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Shared</a>
            <a href="#">Trash</a>
          </nav>
        </div>
        <div class="file-grid">
          <div class="file">
            <div class="icon-background">
              <p class="icon">📁</p>
            </div>
            <p class="name">Folder 1</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📁</p>
            </div>
            <p class="name">Folder 2</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📄</p>
            </div>
            <p class="name">Document</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
          <div class="file">
            <div class="icon-background">
              <p class="icon">📊</p>
            </div>
            <p class="name">Spreadsheet</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
