* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100%;
    margin: 0;
}

p {
    user-select: none;
    font-size: 200%;
    height: 100%;
    padding: 0.5em 5px;
    margin: 0;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.titlebar {
    position: relative;
    height: 4.5em;
    width: 100%;
    background-color: rgb(173, 216, 230);
}

.titlebar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.searchbar {
    width: 35em;
    margin: 1.5em 0;
    padding: 1em 1em;
    border-radius: 50px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.searchbar:focus {
    outline-color: blue;
    outline-style: solid;
    outline-width: 2px;
}

.main-area {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: static;
    padding: 0;
    width: 100%;
    background-color: white;
}

.sidebar {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(215, 215, 215);;
    width: 15%;

    border-radius: 5px;
    border: gray dotted;
}

.upload-button {
    width: 75%;
    height: 5%;
    padding: 0;
    font-size: 2em;
    border-radius: 5px;
    border-color: black;
    outline: none;
    background: none;
}

.file-grid {
    display: flex;
    padding: 12px;
    align-content: start;
    flex-wrap: wrap;
    gap: 8px;
}

.file {
    width: 100px;
    height: 90px;
    background-color: red;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file .icon-background {
    flex-grow: 1;
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
    width: 75%;
    background-color: gray;
    text-align: center;
}

.file .icon {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
    font-size: 3em;
}

.file .name {
    padding: 0;
    height: 35%;
    font-size: 1.5em;
}